Repository duckduckgo/autoconsent, pull requests merged in 2023-12, with the labels that each got.

#304 Cookiebot fixes
  addon/background.ts
  lib/cmps/base.ts
  lib/cmps/cookiebot.ts
  lib/eval-snippets.ts
  package.json
  tests/cookiebot.spec.ts
Labels: patch, release, CMP: Cybotcookiebot

#311 Do not click on the youtube consent page
  lib/rules.ts
  rules/autoconsent/google-consent-standalone.json
  rules/autoconsent/testcmp.json
Labels: patch, release

#313 Blocksy CMP
  lib/eval-snippets.ts
  lib/rules.ts
  rules/autoconsent/blocksy.json
  rules/autoconsent/civic-cookie-control.json
  rules/autoconsent/cookie-script.json
  rules/autoconsent/jquery-cookiebar.json
  rules/autoconsent/wp-cookie-notice.json
  rules/create-rule.mjs
  tests/blocksy.spec.ts
  tests/cookie-script.spec.ts
Labels: minor, release

#314 Add rule for opera.com
  lib/eval-snippets.ts
  lib/rules.ts
  rules/autoconsent/opera.com.json
  tests/opera.com.spec.ts
Labels: minor, release

#322 Add a deferred check for usercentrics
  rules/autoconsent/usercentrics-api.json
Labels: patch, release

#324 Add a rule for csu-landtag.de
  rules/autoconsent/csu-landtag-de.json
  tests/csu-landtag-de.spec.ts
Labels: minor, release

#325 Add a rule for roofingmegastore.co.uk
  rules/autoconsent/roofingmegastore-co-uk.json
  tests/roofingmegastore-co-uk.spec.ts
Labels: minor

#320 Add a rule for ciaopeople.it
  rules/autoconsent/ciaopeople-it.json
  tests/ciaopeople-it.spec.ts
Labels: minor, release

#318 Fix CSP errors when running eval rules in MV3 extension
  addon/background.ts
  lib/cmps/base.ts
  lib/eval-handler.ts
  lib/eval-snippets.ts
  lib/messages.ts
  tests/microsoft.spec.ts
Labels: major, release

#315 Improve Tealium support
  build.sh
  lib/eval-snippets.ts
  rules/autoconsent/tealium.json
  tests/tealium.spec.ts
Labels: minor, release
