Repository duckduckgo/autoconsent, pull requests merged in 2023-07, with the labels that each got.

#148 Support Chrome recorder generated selectors
  .github/workflows/checks.yml
  addon/devtools/loader.js
  addon/popup.html
  addon/popup.ts
  lib/cmps/base.ts
  lib/cmps/sourcepoint-frame.ts
  lib/rule-executors.ts
  lib/rules.ts
  package-lock.json
  package.json
  readme.md
  rules/autoconsent/ubuntu.com.json
  rules/build.js
  rules/build.mjs
  rules/create-rule.mjs
  rules/watch-build.mjs
  tests/rule-executors.spec.ts
  tests/ubuntu.spec.ts
Labels: minor, release

#205 Cancel prehide rules if the pop-up takes too long to appear
  addon/background.ts
  lib/types.ts
  lib/web.ts
Labels: minor, release

#204 Build with ESBuild
  build.sh
  package-lock.json
  package.json
  rollup.config.js
Labels: patch

#211 Fix burpee rule matching and add new rule
  rules/autoconsent/burpee-com.json
  rules/autoconsent/cookie-manager-popup.json
  tests/burpee-com.spec.ts
  tests/cookie-manager-popup.spec.ts
Labels: patch, release

#214 Fix usercentrics-api
  rules/autoconsent/usercentrics-api.json
  tests/usercentrics-api.spec.ts
Labels: patch
