Repository duckduckgo/autoconsent, pull requests merged in 2023-01, with the labels that each got.

#83 Fix type warning on bundle.
  addon/background.ts
Labels: patch

#49 Cleaning up invalid tests
  Jenkinsfile
  rules/autoconsent/cookie-notice.json
  rules/autoconsent/motor-talk-de.json
  tests/borlabs.spec.ts
  tests/complianz-optin.spec.ts
  tests/cookie-notice.spec.ts
  tests/cookiebot.spec.ts
  tests/cookieinformation.spec.ts
  tests/dsgvo.spec.ts
  tests/evidon.spec.ts
  tests/ezoic.spec.ts
  tests/fundingchoices.spec.ts
  tests/moove.spec.ts
  tests/motor-talk.spec.ts
  tests/pubtech.spec.ts
  tests/reddit.spec.ts
  tests/sibbo.spec.ts
  tests/sirdata.spec.ts
  tests/trustarc.spec.ts
  tests/uniconsent.spec.ts
  tests/usercentrics-api.spec.ts
  tests/usercentrics-button.spec.ts
Labels: patch, tests

#67 Cosmetic rules
  addon/background.ts
  addon/popup.html
  addon/popup.ts
  lib/cmps/airbnb.ts
  lib/cmps/base.ts
  lib/cmps/consentmanager.ts
  lib/cmps/consentomatic.ts
  lib/cmps/conversant.ts
  lib/cmps/cookiebot.ts
  lib/cmps/evidon.ts
  lib/cmps/klaro.ts
  lib/cmps/onetrust.ts
  lib/cmps/sourcepoint-frame.ts
  lib/cmps/tiktok.ts
  lib/cmps/trustarc-frame.ts
  lib/cmps/trustarc-top.ts
  lib/cmps/uniconsent.ts
  lib/messages.ts
  lib/rules.ts
  lib/types.ts
  lib/web.ts
  playwright/runner.ts
  rules/autoconsent/ausopen.json
  rules/autoconsent/baden-wuerttemberg-de.json
  rules/autoconsent/cc-banner.json
  rules/autoconsent/complianz-notice.json
  rules/autoconsent/cookie-notice.json
  rules/autoconsent/dsgvo.json
  rules/autoconsent/eu-cookie-compliance.json
  rules/autoconsent/eu-cookie-law.json
  rules/autoconsent/ezoic.json
  rules/autoconsent/generic-cosmetic.json
  rules/autoconsent/indeed-com.json
  rules/autoconsent/jquery-cookiebar.json
  rules/autoconsent/marksandspencer.json
  rules/autoconsent/notice-cookie.json
  rules/autoconsent/osano.json
  rules/autoconsent/pornhub.json
  rules/autoconsent/uk-cookie-consent.json
  rules/autoconsent/xnxx-com.json
  tests/generic-cosmetic.spec.ts
  tests/indeed.spec.ts
  tests/pornhub.spec.ts
  tests/xnxx.spec.ts
Labels: enhancement, minor, release
