Repository duckduckgo/autoconsent, pull requests merged in 2024-03, with the labels that each got.

#375 Support reject button in clinch
  rules/autoconsent/clinch.json
Labels: minor, release

#379 Sirdata fix
  lib/eval-snippets.ts
  rules/autoconsent/sirdata.json
Labels: minor

#384 Fix a US popup on nature.com
  rules/autoconsent/cc-banner-springer.json
Labels: patch, release

#376 feat: support coca-cola.com using OneTrust
  lib/cmps/onetrust.ts
  tests/onetrust.spec.ts
Labels: minor, release

#386 Script to crawl page text content in multiple languages.
  package-lock.json
  package.json
  rules/autoconsent/sirdata.json
  scripts/get-text-for-xpath.ts
Labels: patch

#389 DDG release automation
  .github/actions/setup-release-scripts/action.yml
  .github/workflows/ddg-release.yml
  ci/asana-create-tasks.js
  ci/asana-update-tasks.js
  ci/clients_pr_template.md
  ci/create-pr-template.js
  ci/release-utils.js
  package-lock.json
  package.json
Labels: minor

#393 Fix infinite reload for OneTrust sites
  lib/cmps/onetrust.ts
Labels: patch, release

#394 Fix the trigger event for the CI automation
  .github/workflows/ddg-release.yml
Labels: patch, release

#399 fix: outdated strato.de
  rules/autoconsent/strato-de.json
Labels: patch, release

#395 Fix rules for tumblr.com, onlyfans, canva.com, cookie-script
  lib/cmps/all.ts
  lib/cmps/tumblr-com.ts
  rules/autoconsent/canva.json
  rules/autoconsent/cookie-script.json
  rules/autoconsent/csu-landtag-de.json
  rules/autoconsent/onlyFans.json
  rules/autoconsent/tumblr-com.json
Labels: minor

#400 Check runcontext for prehide selectors.
  lib/cmps/sourcepoint-frame.ts
  lib/web.ts
Labels: minor, release

#403 Rules for two Ensighten banner variants
  rules/autoconsent/ens-modal.json
  rules/autoconsent/ens-notify-banner.json
Labels: minor

#402 Add .cc-type-out-out variant of Complianz popup
  rules/autoconsent/complianz-opt-out.json
Labels: minor
