Repository duckduckgo/autoconsent, pull requests merged in 2024-12, with the labels that each got.

#555 Add optional heuristic pattern detection
  addon/utils.ts
  lib/heuristics.ts
  lib/types.ts
  lib/utils.ts
  lib/web.ts
Labels: minor

#560 Set the due date on the release task
  .github/workflows/ddg-release.yml
  ci/asana-create-tasks.js
Labels: patch

#562 Add a fake filterlist rule for testing
  rules/filterlist.txt
  rules/filterlists/overrides.txt
  scripts/rebuild-filterlist.mjs
Labels: tests

#567 Allow adblocker module to be tree-shaked for builds without a bundled filterlist
  lib/web.ts
Labels: minor

#572 Export eval snippets
  lib/web.ts
  readme.md
Labels: minor
