Repository duckduckgo/autoconsent, pull requests merged in 2024-10, with the labels that each got.

#491 #333 Convert DomActions playwright-based unit test to WebTestRunner HTML test
  .github/workflows/checks.yml
  build.sh
  lib/dom-actions.ts
  package-lock.json
  package.json
  playwright/unit.ts
  tests-wtr/dom-actions/dom-actions.click.html
  tests-wtr/dom-actions/dom-actions.click.ts
  tests/dom-actions.spec.ts
  web-test-runner.config.mjs
Labels: tests

#494 Update dependencies
  .eslintrc
  .github/workflows/checks.yml
  .github/workflows/release.yml
  package-lock.json
  package.json
  playwright/runner.ts
Labels: dependencies, minor, release

#495 (DomActions) WTR tests for elementSelector()
  tests-wtr/dom-actions/dom-actions.click.ts
  tests-wtr/dom-actions/dom-actions.element-selector.html
  tests-wtr/dom-actions/dom-actions.element-selector.ts
  tests-wtr/dom-actions/utils.ts
Labels: patch, tests

#499 Fix paypal-us
  rules/autoconsent/paypal-us.json
Labels: patch

#500 Fix standalone google for international regions
  rules/autoconsent/google-consent-standalone.json
Labels: patch

#501 Add a rule for android.com
  rules/autoconsent/google-cookiebar.json
  tests/google-cookiebar.spec.ts
Labels: minor

#502 Fix race condition in Sourcepoint rule
  lib/cmps/sourcepoint-frame.ts
  lib/dom-actions.ts
Labels: minor

#503 Add rule for americanexpress
  rules/autoconsent/amex.json
  tests/amex.spec.ts
Labels: minor, release

#496 (DomActions) WTR tests for waitForElement()
  package-lock.json
  package.json
  tests-wtr/dom-actions/dom-actions.wait-for-element.html
  tests-wtr/dom-actions/dom-actions.wait-for-element.ts
Labels: tests

#497 (DomActions) WTR tests for elementVisible()
  tests-wtr/dom-actions/dom-actions.element-visible.html
  tests-wtr/dom-actions/dom-actions.element-visible.ts
Labels: tests
