Repository duckduckgo/autoconsent, pull requests merged in 2024-01, with the labels that each got.

#123 iWink rule
  lib/eval-snippets.ts
  rules/autoconsent/iwink.json
  tests/iwink.spec.ts
Labels: minor, release

#319 Add a rule for hema.com
  lib/cmps/cookiebot.ts
  lib/eval-snippets.ts
  rules/autoconsent/hema-com.json
  tests/hema.spec.ts
Labels: minor

#339 Klaro: fix toggle selectors
  lib/cmps/klaro.ts
  lib/eval-snippets.ts
  tests/klaro.spec.ts
Labels: minor, release

#332 Configurable logs
  addon/background.ts
  addon/popup.html
  addon/popup.ts
  addon/utils.ts
  build.sh
  lib/cmps/airbnb.ts
  lib/cmps/base.ts
  lib/cmps/consentmanager.ts
  lib/cmps/conversant.ts
  lib/cmps/cookiebot.ts
  lib/cmps/evidon.ts
  lib/cmps/klaro.ts
  lib/cmps/onetrust.ts
  lib/cmps/sourcepoint-frame.ts
  lib/cmps/tiktok.ts
  lib/cmps/trustarc-frame.ts
  lib/cmps/trustarc-top.ts
  lib/cmps/uniconsent.ts
  lib/config.ts
  lib/dom-actions.ts
  lib/rule-executors.ts
  lib/types.ts
  lib/utils.ts
  lib/web.ts
  package.json
  playwright/runner.ts
  playwright/unit.ts
  readme.md
  tests/dom-actions.spec.ts
Labels: major, release

#329 Add a rule for lightbox CMP
  rules/autoconsent/lightbox.json
  tests/lightbox.spec.ts
Labels: minor, release

#327 Handle popup right after first popup detected (#326)
  .gitignore
  lib/web.ts
Labels: minor, release

#356 Handle absence of structuredClone()
  lib/utils.ts
Labels: patch, release

#344 Update the EZoic rule
  lib/eval-snippets.ts
  rules/autoconsent/ezoic.json
  tests/ezoic.spec.ts
Labels: minor

#345 Fix the Canonical rule
  lib/eval-snippets.ts
  rules/autoconsent/ubuntu.com.json
  tests/ubuntu.spec.ts
Labels: minor

#341 Add rules from Jan 10 Ghostery fixes
  rules/autoconsent/canyon-com.json
  rules/autoconsent/hetzner-com.json
  rules/autoconsent/rog-forum-asus-com.json
  rules/autoconsent/strato-de.json
  rules/autoconsent/transip-nl.json
  tests/canyon-com.spec.ts
  tests/hetzner-com.spec.ts
  tests/rog-forum-asus-com.spec.ts
  tests/strato-de.spec.ts
Labels: minor, release

#348 Add rule for bahn.de
  lib/eval-snippets.ts
  rules/autoconsent/bahn-de.json
  tests/bahn-de.spec.ts
Labels: minor

#347 Complianz regression fixes
  lib/eval-snippets.ts
  rules/autoconsent/complianz-categories.json
  rules/autoconsent/complianz-notice.json
  rules/autoconsent/complianz-opt-both.json
  rules/autoconsent/complianz-optin.json
  tests/complianz-opt-both.spec.ts
Labels: minor

#349 Increase timeout in the sourcepoint rule
  lib/cmps/sourcepoint-frame.ts
Labels: minor

#350 Improve Osano rule
  rules/autoconsent/osano.json
Labels: minor, release

#352 Improve cookie-law-info rule
  lib/eval-snippets.ts
  rules/autoconsent/cookie-law-info.json
Labels: minor

#353 Improve Consentmanager.net
  lib/cmps/consentmanager.ts
Labels: minor

#358 More site-specific rules
  rules/autoconsent/ecosia.json
  rules/autoconsent/europa-eu.json
  rules/autoconsent/instagram.json
  rules/autoconsent/temu.json
  rules/autoconsent/transcend.json
  rules/autoconsent/xvideos.json
  tests/ecosia.spec.ts
  tests/europa-eu.spec.ts
  tests/instagram.spec.ts
  tests/temu.spec.ts
  tests/transcend.spec.ts
  tests/xvideos.spec.ts
Labels: minor

#359 Add rule for fides CMP
  rules/autoconsent/fides.json
  tests/fides.spec.ts
Labels: minor

#361 fix: paypal-us
  rules/autoconsent/paypal-us.json
Labels: patch

#362 Fix reddit rule
  rules/autoconsent/reddit.json
Labels: minor

#363 Handle Tealium implicit modal
  rules/autoconsent/tealium.json
Labels: minor

#364 Add rule for webflow
  rules/autoconsent/webflow.json
  tests/webflow.spec.ts
Labels: minor

#365 regression fix: Do not run opt-out unless a pop-up is actually shown
  lib/web.ts
Labels: patch, release
