Repository duckduckgo/autoconsent, pull requests merged in 2024-11, with the labels that each got.

#466 Support cosmetic filterlists
  .github/workflows/release.yml
  .github/workflows/update-filterlist.yml
  .gitignore
  addon/background.ts
  addon/popup.html
  addon/popup.ts
  build.sh
  lib/cmps/airbnb.ts
  lib/dom-actions.ts
  lib/filterlist-utils.ts
  lib/types.ts
  lib/utils.ts
  lib/web.ts
  package-lock.json
  package.json
  readme.md
  rules/filterlist.txt
  rules/filterlists/overrides.txt
  scripts/compile-filterlist.mjs
  scripts/fetch-easylist.sh
  scripts/rebuild-filterlist.mjs
Labels: major, release

#508 Add rule for tesco.com
  rules/autoconsent/tesco.json
  tests/tesco.spec.ts
Labels: minor

#519 fix trustarc popup detection
  lib/cmps/trustarc-top.ts
Labels: minor

#520 Fix a rule for pornhub
  rules/autoconsent/pornhub.json
Labels: minor

#521 Update dpgmedia
  rules/autoconsent/dpgmedia-nl.json
Labels: minor

#523 Fix arbeitsagentur
  rules/autoconsent/arbeitsagentur.json
Labels: minor, release

#527 Do not bundle network allowlist rules from easylist
  scripts/fetch-easylist.sh
Labels: minor, release

#528 Automate DDG releases
  .github/workflows/ddg-release.yml
  .github/workflows/release.yml
  ci/asana-update-tasks.js
Labels: minor, release

#530 Fix release workflow
  .github/workflows/ddg-release.yml
Labels: minor, release

#531 Fix release workflow parameters
  .github/workflows/ddg-release.yml
Labels: minor, release

#529 Fix rule for bing
  lib/eval-snippets.ts
  rules/autoconsent/bing.json
Labels: minor, release

#537 Add a rule for skyscanner
  lib/eval-snippets.ts
  rules/autoconsent/skyscanner.json
  rules/create-rule.mjs
  tests/skyscanner.spec.ts
Labels: minor

#536 Make sure that the test page uses an eval rule
  lib/eval-snippets.ts
  rules/autoconsent/testcmp.json
Labels: tests

#524 Improve Civic rule
  rules/autoconsent/civic-cookie-control.json
  tests/civic-cookie-control.spec.ts
Labels: minor

#539 Restrict ensighten detection to only when popup is visible.
  rules/autoconsent/ens-modal.json
Labels: patch
