Repository duckduckgo/autoconsent, pull requests merged in 2024-05, with the labels that each got.

#430 Fix the rule for termsfeed3
  rules/autoconsent/termsfeed3.json
Labels: minor, release

#435 fix: instagram.com
  rules/autoconsent/instagram.json
Labels: patch

#436 Adjusted TrustArc optout
  lib/cmps/trustarc-frame.ts
  lib/cmps/trustarc-top.ts
  lib/eval-snippets.ts
Labels: minor, release

#439 upgrade dependencies
  package-lock.json
Labels: patch

#438 Add travelonbags.com
  rules/autoconsent/aquasana-com.json
  tests/aquasana-com.spec.ts
Labels: minor

#440 Add support for cookieCuttr CMP
  rules/autoconsent/cookiecuttr.json
  tests/cookiecuttr.spec.ts
Labels: minor

#447 Fix the Ketch rule
  lib/eval-snippets.ts
  rules/autoconsent/ketch.json
  tests/ketch.spec.ts
Labels: minor

#449 Add a rule for ebay
  rules/autoconsent/ebay.json
  tests/ebay.spec.ts
Labels: minor

#452 Fix some reload loops on www.fidelity.co.uk and other Ensighten sites
  rules/autoconsent/ens-modal.json
  rules/autoconsent/ens-notify-banner.json
Labels: minor, release
