Repository duckduckgo/autoconsent, pull requests merged in 2024-04, with the labels that each got.

#409 Fix Moove on mitglieder.franzspitzer.de
  lib/eval-snippets.ts
  rules/autoconsent/moove.json
Labels: minor, release

#415 Fix detection in tarteaucitron
  lib/eval-snippets.ts
  rules/autoconsent/tarteaucitron.json
Labels: minor, release

#404 Fix Klaro rule (wogibtswas.de, www.suedtirol.com)
  lib/cmps/klaro.ts
  lib/eval-snippets.ts
Labels: patch, release

#423 Fix sibbo rule
  lib/eval-snippets.ts
  rules/autoconsent/sibbo.json
  tests/sibbo.spec.ts
Labels: patch

#425 Click 'Save & Exit' instead of 'Cancel' in dmgmedia popup
  rules/autoconsent/dmgmedia.json
Labels: patch, release

#428 Fix race condition in iubenda, as seen on https://leaddev.com/leaddev-london
  rules/autoconsent/iubenda.json
Labels: patch, release

#429 Add espace-personnel.agirc-arrco.fr
  rules/autoconsent/espace-personnel-agirc-arrco-fr.json
  tests/espace-personnel-agirc-arrco-fr.spec.ts
Labels: patch
