Repository duckduckgo/autoconsent, pull requests merged in 2025-04, with the labels that each got.

#710 Update CI pipeline to run only relevant tests for a PR
  Jenkinsfile
Labels: ci

#707 Update Asana integration to support multiple tasks and ignore tasks not in CPM project
  .github/workflows/pr-merged.yml
  .github/workflows/pr-opened.yml
Labels: ci

#714 Jenkins CI: Use GIT_COMMIT when notifying GitHub
  Jenkinsfile
Labels: ci

#712 Add rule for nos.nl
  rules/autoconsent/nos.nl.json
  tests/nos.nl.spec.ts
Labels: minor

#723 Fix rule for openai
  rules/autoconsent/openai.json
Labels: minor

#718 Only process Asana tasks when PR contains task URL
  .github/workflows/pr-merged.yml
  .github/workflows/pr-opened.yml
Labels: ci

#720 Prioritize checking of site-specific rules in detection phase.
  lib/cmps/base.ts
  lib/cmps/consentomatic.ts
  lib/types.ts
  lib/web.ts
Labels: minor

#721 Delay reruns of the detectCmp phase until there is a dom mutation.
  lib/dom-actions.ts
  lib/types.ts
  lib/web.ts
  tests-wtr/dom-actions/dom-actions.wait-for-mutation.html
  tests-wtr/dom-actions/dom-actions.wait-for-mutation.ts
Labels: minor, release
