Repository duckduckgo/autoconsent, pull requests merged in 2025-10, with the labels that each got.

#1008 Handle alternative reject text on substack sites
  rules/autoconsent/substack.json
  tests/substack.spec.ts
Labels: patch

#1017 🤖 Add autoconsent rules for 1 sites (0 need review)
  rules/autoconsent/canva.json
  rules/generated/auto_DE_canva.com_6vh.json
  tests/canva.spec.ts
  tests/generated/auto_DE_canva.com_6vh.spec.ts
Labels: minor, generated-rules

#1024 Fix an exception in text extension
  addon/popup.html
  addon/popup.ts
Labels: bug, minor
