Repository duckduckgo/autoconsent, pull requests merged in 2025-03, with the labels that each got.

#681 Another batch of rules
  lib/eval-snippets.ts
  rules/autoconsent/alaskaair.json
  rules/autoconsent/asus.json
  rules/autoconsent/bigcommerce-consent-manager.json
  rules/autoconsent/geni.com.json
  rules/autoconsent/ouraring.json
  rules/autoconsent/wiki.gg.json
  tests/alaskaair.spec.ts
  tests/asus.spec.ts
  tests/bigcommerce-consent-manager.spec.ts
  tests/consent-manager.spec.ts
  tests/geni.com.spec.ts
  tests/ouraring.spec.ts
  tests/wiki.gg.spec.ts
Labels: minor

#679 Rules for Toyota sites
  rules/autoconsent/toyota.json
  rules/create-rule.mjs
  tests/toyota.spec.ts
Labels: minor

#680 Batch of site-specific rules
  rules/autoconsent/curseforge.json
  rules/autoconsent/pride.com.json
  rules/autoconsent/sandhills.json
  rules/autoconsent/stripchat.com.json
  rules/autoconsent/summitracing.json
  rules/autoconsent/xgroovy.json
  tests/curseforge.spec.ts
  tests/pride.com.spec.ts
  tests/sandhills.spec.ts
  tests/stripchat.com.spec.ts
  tests/summitracing.spec.ts
  tests/xgroovy.spec.ts
Labels: minor

#682 [NSFW] add rule for several sites
  rules/autoconsent/b-cookie.json
  rules/autoconsent/microcenter.com.json
  tests/b-cookie.spec.ts
  tests/microcenter.com.spec.ts
Labels: minor

#670 Add rule for ryanair
  rules/autoconsent/ryanair.json
  tests/ryanair.spec.ts
Labels: minor

#671 add rule for acs.org
  rules/autoconsent/acs.org.json
  tests/acs.org.spec.ts
Labels: minor

#659 add rules for povr.com and tinyurl.com
  lib/eval-snippets.ts
  rules/autoconsent/povr.json
  rules/autoconsent/tinyurl.json
  tests/povr.spec.ts
  tests/tinyurl.spec.ts
Labels: minor

#677 Add rule for pornhat and a few other sites
  rules/autoconsent/pornhat.json
  tests/pornhat.spec.ts
Labels: minor

#669 add rule for fedex.com
  rules/autoconsent/fedex.json
  tests/fedex.spec.ts
Labels: minor

#673 Several site-specific rules
  lib/dom-actions.ts
  rules/autoconsent/britannica-kids.json
  rules/autoconsent/groundnews.json
  rules/autoconsent/rt.json
  rules/autoconsent/truthsocial.json
  tests/britannica-kids.spec.ts
  tests/groundnews.spec.ts
  tests/rt.spec.ts
  tests/truthsocial.spec.ts
Labels: minor

#687 Automatically restore element focus after the opt-in/opt-out
  lib/web.ts
  tests-wtr/lifecycle/focus.html
  tests-wtr/lifecycle/focus.ts
  web-test-runner.config.mjs
Labels: minor

#665 Add rule for ok.ru
  rules/autoconsent/ok.json
  tests/ok.spec.ts
Labels: minor

#683 support no-reject Osano popups
  lib/eval-snippets.ts
  rules/autoconsent/osano.json
  tests/osano.spec.ts
Labels: minor

#694 Update Asana sync action
  .github/workflows/asana.yml
Labels: ci

#691 add rule for web.de
  rules/autoconsent/web.de.json
  tests/web.de.spec.ts
Labels: minor

#676 More site-specific rules
  lib/eval-snippets.ts
  rules/autoconsent/financestrategists.com.json
  rules/autoconsent/remarkable.com.json
  rules/autoconsent/truecar.json
  tests/financestrategists.com.spec.ts
  tests/remarkable.com.spec.ts
  tests/truecar.spec.ts
Labels: minor

#693 Fix sourcepoint rule for US version of ft.com
  lib/cmps/sourcepoint-frame.ts
Labels: minor

#697 Add AdOpt CMP
  lib/eval-snippets.ts
  rules/autoconsent/adopt.json
  tests/adopt.spec.ts
Labels: minor, CMP

#696 Add rule for caranddriver.com
  rules/autoconsent/caranddriver.com.json
  tests/caranddriver.com.spec.ts
Labels: minor

#695 Update deepl rule to match new markup
  rules/autoconsent/deepl.json
Labels: minor

#698 Improve burpee.com rule
  rules/autoconsent/burpee-com.json
  tests/burpee-com.spec.ts
Labels: patch

#701 Add Asana automations
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/asana-sync.yml
  .github/workflows/pr-merged.yml
  .github/workflows/pr-opened.yml
  ci/asana-create-tasks.js
Labels: ci

#705 Fix HTML formatting for task list in release notes
  ci/asana-create-tasks.js
Labels: ci
