Repository duckduckgo/autoconsent, pull requests merged in 2025-01, with the labels that each got.

#583 feat: readly.com
  rules/autoconsent/readly.json
  tests/readly.spec.ts
Labels: minor

#553 Add tests for DomActions.undoPrehide()
  lib/dom-actions.ts
  lib/types.ts
  lib/web.ts
  tests-wtr/dom-actions/undo-prehide/README.md
  tests-wtr/dom-actions/undo-prehide/dom-actions.undo-prehide.nonexistent-style-element.html
  tests-wtr/dom-actions/undo-prehide/dom-actions.undo-prehide.nonexistent-style-element.ts
  tests-wtr/dom-actions/undo-prehide/dom-actions.undo-prehide.preexisting-style-element.html
  tests-wtr/dom-actions/undo-prehide/dom-actions.undo-prehide.preexisting-style-element.ts
Labels: tests

#552 Add tests for DomActions.prehide()
  tests-wtr/dom-actions/prehide/README.md
  tests-wtr/dom-actions/prehide/dom-actions.prehide.delayed-element.html
  tests-wtr/dom-actions/prehide/dom-actions.prehide.delayed-element.ts
  tests-wtr/dom-actions/prehide/dom-actions.prehide.empty-selector.html
  tests-wtr/dom-actions/prehide/dom-actions.prehide.empty-selector.ts
  tests-wtr/dom-actions/prehide/dom-actions.prehide.preexisting-element.html
  tests-wtr/dom-actions/prehide/dom-actions.prehide.preexisting-element.ts
Labels: tests

#592 Reduce filter list size by using domain popularity, updating encoding, and removing unapplicable rules
  .gitignore
  package-lock.json
  package.json
  rules/filterlist.txt
  scripts/compile-filterlist.mjs
  scripts/rebuild-filterlist.mjs
  tsconfig.json
Labels: minor, release, performance

#596 Fix dpgmedia rule https://gathering.tweakers.net/
  rules/autoconsent/dpgmedia-nl.json
Labels: minor

#545 Add ef-ccpa rule
  rules/autoconsent/ef-ccpa.json
  tests/ef-ccpa.spec.ts
Labels: minor

#542 Add consent-manager rule
  rules/autoconsent/consent-manager.json
  tests/consent-manager.spec.ts
Labels: minor

#597 Cleaning up tests: 1-as
  lib/eval-snippets.ts
  rules/autoconsent/192.json
  rules/autoconsent/1password-com.json
  rules/autoconsent/aa.json
  rules/autoconsent/affinity-serif-com.json
  rules/autoconsent/agolde-com.json
  rules/autoconsent/almacmp.json
  rules/autoconsent/altium-com.json
  tests/192.spec.ts
  tests/1password-com.spec.ts
  tests/aa.spec.ts
  tests/admiral.spec.ts
  tests/adroll.spec.ts
  tests/agolde-com.spec.ts
  tests/almacmp.spec.ts
  tests/altium-com.spec.ts
  tests/aquasana-com.spec.ts
Labels: minor

#601 cosmetic rule for womenshealthmag
  rules/autoconsent/womenshealthmag-us.json
  tests/womenshealthmag-us.spec.ts
Labels: minor

#605 Adapt gov.uk rule for https://www.tax.service.gov.uk/business-account
  rules/autoconsent/gov-uk.json
Labels: minor

#604 Fix opera rule
  rules/autoconsent/opera.com.json
Labels: minor

#603 Support CCPA sourcepoint popup on timeout.com
  lib/cmps/sourcepoint-frame.ts
Labels: minor

#602 Add rule for Privado CMP
  rules/autoconsent/privado.json
  rules/autoconsent/squiz.json
  tests/privado.spec.ts
Labels: minor

#611 Quantcast fixes
  rules/autoconsent/quantcast.json
  rules/autoconsent/tccCmpAlert.json
  scripts/get-text-for-xpath.ts
  tests/tccCmpAlert.spec.ts
Labels: minor

#614 Improve the Civic rule
  rules/autoconsent/civic-cookie-control.json
  tests/civic-cookie-control.spec.ts
Labels: minor

#610 Add rule for Gravito
  lib/eval-snippets.ts
  rules/autoconsent/gravito.json
  tests/gravito.spec.ts
Labels: minor

#616 Add rule for Shopify Customer Privacy CMP
  lib/eval-snippets.ts
  rules/autoconsent/shopify.json
  tests/shopify.spec.ts
Labels: minor, CMP

#613 Validate JSON rules
  lib/rules.ts
  package-lock.json
  package.json
  rules/autoconsent/dsgvo.json
  rules/autoconsent/johnlewis.json
  rules/autoconsent/true-car.json
  rules/autoconsent/twitter.json
  scripts/validate-json-rules.js
Labels: tests

#619 Improve Termly rule
  rules/autoconsent/termly.json
  tests/termly.spec.ts
Labels: minor
