Repository duckduckgo/autoconsent, pull requests merged in 2025-02, with the labels that each got.

#625 Adjust cookie-law-info to hide site-specific #cookie-law-bg element
  rules/autoconsent/cookie-law-info.json
  tests/cookielawinfo.spec.ts
Labels: patch, broken rule

#628 Fix Tealium rule on barmer.de
  rules/autoconsent/tealium.json
Labels: patch, broken site

#631 Add jetpack-eu-cookie-law CMP
  rules/autoconsent/jetpack-eu-cookie-law.json
  rules/autoconsent/tidbits-com.json
  tests/jetpack-eu-cookie-law.spec.ts
  tests/tidbits-com.spec.ts
Labels: patch, CMP

#632 Add Pandectes CMP
  lib/eval-snippets.ts
  rules/autoconsent/pandectes.json
  tests/pandectes.spec.ts
Labels: patch, CMP

#637 Add site specific rule for bbc.com
  lib/eval-snippets.ts
  rules/autoconsent/bbc.com.json
  tests/bbc.com.spec.ts
Labels: minor

#635 Add rule for ct-ultimate-gdpr CMP
  lib/eval-snippets.ts
  rules/autoconsent/ct-ultimate-gdpr.json
  tests/ct-ultimate-gdpr.spec.ts
Labels: patch, CMP

#639 Add rule for inmobi.com and related websites
  lib/eval-snippets.ts
  rules/autoconsent/inmobi.json
  tests/inmobi.spec.ts
Labels: patch

#627 Update release workflow to support Apple monorepo
  .github/workflows/ddg-release.yml
  ci/asana-create-tasks.js
  ci/asana-update-tasks.js
  ci/create-pr-template.js
Labels: internal

#636 Add rule for gdpr-legal-cookie CMP
  lib/eval-snippets.ts
  rules/autoconsent/gdpr-legal-cookie.json
  tests/gdpr-legal-cookie.spec.ts
Labels: patch, CMP

#640 Add artificial delay to the sourcepoint rule to mitigate race conditions
  lib/cmps/sourcepoint-frame.ts
Labels: patch

#642 Monthly Coverage data update
  data/coverage.json
Labels: tests

#646 add rule for adultfriendfinder.com
  lib/eval-snippets.ts
  rules/autoconsent/adultfriendfinder.json
  tests/adultfriendfinder.spec.ts
Labels: minor

#647 Add rule for anthropic
  lib/eval-snippets.ts
  rules/autoconsent/anthropic.json
  tests/anthropic.spec.ts
Labels: minor

#648 Add rule for help.twitter.com
  rules/autoconsent/u12-data-protection-notice.json
  tests/u12-data-protection-notice.spec.ts
Labels: minor

#655 add rule for nhnieuws.nl
  lib/eval-snippets.ts
  rules/autoconsent/nhnieuws.json
  tests/nhnieuws.spec.ts
Labels: minor

#653 increase the timeout in cookiebot to prevent race conditions
  lib/cmps/cookiebot.ts
Labels: patch

#652 add rule for a common cmp
  lib/eval-snippets.ts
  rules/autoconsent/ckies.json
  tests/ckies.spec.ts
Labels: minor

#651 Add rule for macaron CMP
  lib/eval-snippets.ts
  rules/autoconsent/macaron.json
  tests/macaron.spec.ts
Labels: minor

#650 Support another flavor of borlabs
  rules/autoconsent/borlabs.json
Labels: minor

#660 Do not print the rule in creation script
  rules/create-rule.mjs
Labels: internal

#657 Site-specific rules for several top domains
  lib/eval-snippets.ts
  rules/autoconsent/ally.json
  rules/autoconsent/bswhealth.json
  rules/autoconsent/depop.json
  rules/autoconsent/leafly.json
  rules/autoconsent/overleaf.json
  rules/autoconsent/paychex.json
  rules/autoconsent/ratemyprofessors.json
  rules/autoconsent/sas.json
  rules/autoconsent/unicourt.json
  rules/autoconsent/wikiwand.json
  rules/autoconsent/zinio.json
  tests/ally.spec.ts
  tests/bswhealth.spec.ts
  tests/depop.spec.ts
  tests/leafly.spec.ts
  tests/overleaf.spec.ts
  tests/paychex.spec.ts
  tests/ratemyprofessors.spec.ts
  tests/sas.spec.ts
  tests/unicourt.spec.ts
  tests/wikiwand.spec.ts
  tests/zinio.spec.ts
Labels: minor

#666 add rule for wix.com
  rules/autoconsent/wix.json
  tests/wix.spec.ts
Labels: minor

#661 Add rule for synology sites
  lib/eval-snippets.ts
  rules/autoconsent/synology.json
  tests/synology.spec.ts
Labels: minor
