Repository duckduckgo/autoconsent, pull requests merged in 2025-08, with the labels that each got.

#852 Improve playwright tests
  Jenkinsfile
  playwright.config.ts
  playwright/runner.ts
Labels: tests

#859 [test] Add autoconsent rules for 2 sites (0 requiring review)
  rules/generated/auto_CA_epihunter.eu_hd4.json
  rules/generated/auto_CH_gabrielweinberg.com_56i.json
  tests/generated/auto_CA_epihunter.eu_hd4.spec.ts
  tests/generated/auto_CH_gabrielweinberg.com_56i.spec.ts
Labels: patch, generated-rules

#898 Fix reporting of test results to github
  Jenkinsfile
Labels: tests

#899 Post a PR comment with links for review
  Jenkinsfile
Labels: tests

#914 Clean duplicated asus.com rules
  rules/generated/auto_AU_asus.com_ony.json
  rules/generated/auto_CA_asus.com_dm1.json
  tests/generated/auto_AU_asus.com_ony.spec.ts
  tests/generated/auto_CA_asus.com_dm1.spec.ts
Labels: minor

#905 🤖 Add autoconsent rules for 1 sites (0 requiring review)
  rules/generated/auto_CA_worldelectricsupply.com_f0d.json
  tests/generated/auto_CA_worldelectricsupply.com_f0d.spec.ts
Labels: generated-rules

#882 🤖 Add autoconsent rules for 2 sites (0 requiring review)
  rules/generated/auto_GB_livejasmin.com_gdn.json
  rules/generated/auto_GB_livejasmin.com_man.json
  tests/generated/auto_GB_livejasmin.com_man.spec.ts
Labels: generated-rules

#929 🤖 Add autoconsent rules for 1 sites (0 need review)
  rules/generated/auto_AU_lostincult.co.uk_9dy.json
  tests/generated/auto_AU_lostincult.co.uk_9dy.spec.ts
Labels: minor, generated-rules
