Repository duckduckgo/autoconsent, pull requests merged in 2025-07, with the labels that each got.

#807 Toggle for generated rules
  addon/popup.html
  addon/popup.ts
  lib/types.ts
  lib/utils.ts
  lib/web.ts
Labels: minor

#816 Make itopvpn.com rule site-specific.
  rules/autoconsent/itopvpn-com.json
Labels: patch, release

#824 Add rule for cloudflare's CMP
  playwright/runner.ts
  rules/autoconsent/cloudflare-zaraz.json
  tests/cloudflare-zaraz.spec.ts
Labels: minor

#827 Fix outdated rules
  rules/autoconsent/amazon.json
  rules/autoconsent/caranddriver.com.json
  rules/autoconsent/netflix-de.json
  tests/caranddriver.com.spec.ts
  tests/netflix.spec.ts
Labels: minor

#825 Support reject button in moove
  rules/autoconsent/moove.json
  tests/moove.spec.ts
Labels: minor, release

#840 Cookie Information Banner: only hide if banner is actually left open
  rules/autoconsent/cookieinformation.json
Labels: patch, release

#844 Add rule for shein.com
  rules/autoconsent/shein.com.json
  tests/shein.com.spec.ts
Labels: minor

#847 Fix rule for nos.nl
  rules/autoconsent/nos.nl.json
Labels: patch

#842 Coverage data update
  data/coverage.json
Labels: tests
