Repository duckduckgo/autoconsent, pull requests merged in 2025-05, with the labels that each got.

#730 Make detection logs toggleable
  addon/popup.html
  addon/popup.ts
  lib/cmps/base.ts
  lib/types.ts
  lib/utils.ts
Labels: patch

#736 Fix: Exclude rules from detection if they have a urlPattern and it does not match.
  lib/web.ts
  tests-wtr/lifecycle/find-cmp.html
  tests-wtr/lifecycle/find-cmp.ts
Labels: patch, release

#741 Fix: Mutation observer race condition during rule detection
  lib/web.ts
Labels: patch

#738 Prevent OneTrust from being detected as site-specific
  lib/cmps/onetrust.ts
  lib/web.ts
Labels: patch

#744 Add support for FastCMP and iframe piercing
  lib/dom-actions.ts
  readme.md
  rules/autoconsent/fastcmp.json
  tests/fastcmp.spec.ts
Labels: minor

#746 Fix onetrust rule
  lib/cmps/onetrust.ts
Labels: patch, release

#743 Compact rule format
  .gitignore
  addon/background.ts
  lib/cmps/base.ts
  lib/encoding.ts
  lib/rules.ts
  lib/types.ts
  lib/web.ts
  package.json
  readme.md
  rules/autoconsent/cookiecuttr.json
  rules/autoconsent/squiz.json
  rules/autoconsent/summitracing.json
  rules/autoconsent/toyota.json
  rules/autoconsent/twcc.json
  rules/build.ts
  rules/watch-build.mjs
  scripts/bundle-config-rules.mjs
  tests-wtr/rules/rule-compaction.test.ts
  web-test-runner.config.mjs
Labels: major, release

#748 CI: Release hook to update privacy-config repo.
  .github/workflows/privacy-config-pr.yml
  .github/workflows/release.yml
  lib/encoding.ts
  scripts/bundle-config-rules.mjs
  tsconfig.json
Labels: patch, release
